In [163]:
import math
import os
import random
from collections import Counter

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt


def loading_data(data_path):

    if os.path.isfile(os.path.join(data_path, "ratings.csv")):
        ratings = pd.read_csv(os.path.join(data_path, "ratings.csv"))
        movies = pd.read_csv(os.path.join(data_path, "movies.csv"))
        links = pd.read_csv(os.path.join(data_path, "links.csv"))
        return ratings, movies, links, True
    else:
        return [], [], [], False


def analysis(ratings, movie_data):

    print("Information about the data : \n")
    print("*********************************************************")
    print("Number of Users :", len(np.unique(ratings["userId"])))
    print("Number of movies :", len(np.unique(movie_data["movieId"])))

    print("\n*********************************************************")
    print("\nMovies with highest number of user ratings :\n")
    for i in sorted(
        Counter(ratings["movieId"]).items(), key=lambda x: x[1], reverse=True
    )[:5]:
        print(movie_data["title"][i[0]])

    print("\n*********************************************************")
    print("\nUser who gave more ratings  :")
    print(
        ratings.groupby("userId")
        .count()
        .sort_values(["movieId"], ascending=False)["movieId"]
        .head(5)
    )

In [164]:
ratings, movies_data, links, status = loading_data(r"C:\Users\capricious\Desktop\Movie\Movie-Recommendation\dataset")
movies_data["Overview"] = "Nan"

In [165]:
ratings.shape, movies_data.shape, links.shape

((100836, 4), (9742, 4), (9742, 3))

In [166]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [167]:
movies_data.head()

,movieId,title,genres,Overview
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Nan
1,2,Jumanji (1995),Adventure|Children|Fantasy,Nan
2,3,Grumpier Old Men (1995),Comedy|Romance,Nan
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Nan
4,5,Father of the Bride Part II (1995),Comedy,Nan

In [168]:
import config # to hide TMDB API keys
import requests # to make TMDB API calls
import locale # to format currency as USD
locale.setlocale( locale.LC_ALL, '' )
import json
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis

In [169]:
API_key = 'fe22fb659bb210d2663441b160a3391d'

def get_data(API_key, Movie_ID):
    query = 'https://api.themoviedb.org/3/movie/'+str(Movie_ID)+'?api_key='+API_key+'&language=en-US'
    response =  requests.get(query)
    if response.status_code==200: 
        array = response.json()
        text = json.dumps(array)
        return (text)
    else:
        return ("error")

def write_file(data):
    
    for i in range(data.shape[0]):
        result = get_data(API_key, data["tmdbId"].iloc[i])
        
        if result == "error":
            overview = "None"
        else:
            dataset = json.loads(result)
            try:
                overview = dataset['overview']
            except:
                overview = "None"
        data["Overview"].iloc[i] = overview
    return data

In [ ]:
movies_data = pd.merge(links, movies_data, on="movieId")

movies_data = movies_data.dropna()
movies_data["tmdbId"] = movies_data["tmdbId"].astype("int32")

movies_data = write_file(movies_data)

C:\Users\capricious\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
movies_data["tmdbId"].dtype